<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <style>
      @import url('./static/base.css');
      @import url('./static/photo_gallery.css');
    </style>
    <title>Grid Example</title>
  </head>
  <body>
    <h1>Basic Grid</h1>
    <section class="photo-grid">
      <div
        class="card card-tall"
        style="
          background-image: url(static/images/dave-hoefler-KymP2IOr3fY-unsplash.jpg);
        "
      >
        1
      </div>
      <div
        class="card"
        style="
          background-image: url(static/images/john-murphey-Di6iRV79pbY-unsplash.jpg);
        "
      >
        2
      </div>
      <div
        class="card"
        style="
          background-image: url(static/images/lucas-bordiao-YKuYhXizkZs-unsplash.jpg);
        "
      >
        3
      </div>
      <div
        class="card"
        style="
          background-image: url(static/images/mayer-tawfik-jqIv2vf3h0w-unsplash.jpg);
        "
      >
        4
      </div>
      <div
        class="card card-tall card-wide"
        style="
          background-image: url(static/images/neom-0SUho_B0nus-unsplash.jpg);
        "
      >
        5
      </div>
      <div
        class="card"
        style="
          background-image: url(static/images/neom-Iogsh4Cbdjs-unsplash.jpg);
        "
      >
        6
      </div>
      <div
        class="card"
        style="
          background-image: url(static/images/royal-oxford-I-hcO-hIlWc-unsplash.jpg);
        "
      >
        7
      </div>
      <div
        class="card card-tall"
        style="
          background-image: url(static/images/sonny-mauricio-38ajLxTmPCA-unsplash.jpg);
        "
      >
        8
      </div>
      <div
        class="card"
        style="
          background-image: url(static/images/sonny-mauricio-40orlMhYLKE-unsplash.jpg);
        "
      >
        9
      </div>
      <div
        class="card"
        style="
          background-image: url(static/images/sonny-mauricio-jAFEaZQmQ_U-unsplash.jpg);
        "
      >
        10
      </div>
      <div
        class="card"
        style="
          background-image: url(static/images/sonny-mauricio-NgO34Kyuyyk-unsplash.jpg);
        "
      >
        11
      </div>
      <div
        class="card card-wide"
        style="
          background-image: url(static/images/val-vesa-2Oa1msSpPrY-unsplash.jpg);
        "
      >
        12
      </div>
    </section>
  </body>
</html>
